<mat-card>
  <div>
    <form [formGroup]="form">
      <ng-content select="h2"></ng-content>
      <mat-form-field>
        <input matInput placeholder="Email" type="email" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password">
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary">
          <ng-content select="span"></ng-content>
        </button>
      </div>
      <div class="link">
        <ng-content select="a"></ng-content>
      </div>
    </form>
  </div>
</mat-card>