<mat-card>
  <div>
    <h2 class="inline">Feature {{ feature.number }}: {{ feature.name }}</h2>
  </div>
  Requirements:
  <section class="section">
    <div class="requirement" *ngFor="let requirement of feature.requirements">
      <mat-checkbox [(ngModel)]="requirement.done" name="{{requirement.name}}-checkbox">
      </mat-checkbox>
      <mat-form-field class="margin-left">
        <input matInput name="{{requirement.name}}-input" [(ngModel)]="requirement.name" />
        <mat-icon class="delete" matSuffix (click)="deleteRequirement(requirement.id)">close</mat-icon>
      </mat-form-field>
    </div>
    <create-button (clicked)="createRequirement(feature.number)">
      <span>Requirement</span>
    </create-button>
  </section>
</mat-card>