.content {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

.features {
  margin-top: 2rem;
}

.feature {
  width: 48%;
  display: inline-grid;
}

.pad-right {
  padding-right: 4rem;
}
