mat-list-item:hover {
  cursor: pointer;
  background-color: #f6f8fa;
}

.mat-list-item {
  margin: 1%;
}

mat-form-field {
  margin-top: 1rem;
}

mat-sidenav-content {
  background: #ffffff;
  margin: 1 em;
}

.mat-raised-button.mat-primary {
  float: left;
  background: red;
}

mat-sidenav {
  border-right: solid gray 1px;
}
